# Gradle files
.gradle/
build/
*/build/

# Local configuration
local.properties
*.iml

# Android Studio files
.idea/
*.iws
*.ipr
.DS_Store

# Log files
*.log

# Android specific
captures/
externalNativeBuild/
.cxx/
*.keystore

# IntelliJ
out/

# Misc
*.class
*.jar
*.war
*.ear
*.apk
*.ap_
